body { background: #1503ac; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 12px; display: flex; }
.block-user-0 { color: #ea3d7b; font-size: 16px; margin-bottom: 5px; }
.block-cluster-1 { color: #b7a623; font-size: 17px; margin-bottom: 5px; }
.block-config-2 { color: #8169d0; font-size: 17px; margin-bottom: 5px; }
.block-cluster-3 { color: #840410; font-size: 16px; margin-bottom: 5px; }
.block-cache-4 { color: #97ecb4; font-size: 17px; margin-bottom: 5px; }
.block-sms-5 { color: #314238; font-size: 20px; margin-bottom: 5px; }